.navbar{
    background-color: #77b829;
    
}

.navbar .nav li a {
    color: white;
}

.navbar .nav li a:hover {
    color: black;
}

.navbar .navbar-header a {
    color: red;
}

    .navbar .navbar-header a:hover {
        color: black;
    }